<b><h2>Assignment No : 01</h2></b>
<h4><b>Problem Statement :</b></h4>
<b><i>Create 3 indexes with name, roll number, fees amount in a vector and print the data frame by taking values in indexes.</i></b><br>
<hr>
<br>

In [1]:
import pandas as pd

In [2]:
dataset = {
    'Name': ['Pandas', 'Numpy', 'Jupyter'],
    'Roll Number': [10, 15, 5],
    'Fees Amount': [10000, 5000, 20000]
}

In [3]:
df = pd.DataFrame(dataset)

In [4]:
df

      Name  Roll Number  Fees Amount
0   Pandas           10        10000
1    Numpy           15         5000
2  Jupyter            5        20000