<b><h2>Assignment No : 02</h2></b>
<h4><b>Problem Statement :</b></h4>
<b><i>Read mba.csv file and just fetch the name and fees and print it with the help of data frame.</i></b><br>
<hr>
<br>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('mba.csv')
datas = df[['Name', 'Fees']]

In [3]:
print(datas)

       Name   Fees
0  Doraemon  50000
1    Nobita  10000
2   Shizuka  20000
3     Suneo  40000
4      Gian   5000
5  Dekisugi  30000